  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  
  form {
    width: 100%;
    display: flex;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: sans-serif;
  }
  
  label {
    font-size: 0.7em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  .form-input {
    width: 305px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 0px;
    
}


#test-form label {
  font-size: 17px;
}

#test-form button {
  background-color: #cc0c00;
  width: 270%;
  margin-left: 0px;
  margin-right: 0px;
}

