<!-- <html>
<head>
  <title>Web google</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  <meta name="google-signin-client_id" content="57425847163-0iuog4d4beiajigakm85ld9l1kqrkdlg.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="LandPage.js"></script>
  <style>
    .g-margin{
      margin-left:500px;
      margin-top:200px;
    }
  </style>
</head>
<body>
  <div class="g=signin2" data-onsuccess="onSignIn"></div>
</body>
</html>
   -->